<%= partial 'partials/navbar' %>
<%= partial 'partials/header' %>
<%= partial 'partials/about' %>
<%= partial 'partials/projects' %>

<%# <div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col">
      <h1>Hi, I'm Emilia</h1>
      <h1>Hi, I'm Emilia</h1>
      <h1>Hi, I'm Emilia</h1>
      <h1>Hi, I'm Emilia</h1>
      <h1>Hi, I'm Emilia</h1>
      <h1>Hi, I'm Emilia</h1>
      <h1>Hi, I'm Emilia</h1>
      <h1>Hi, I'm Emilia</h1>
      <h1>Hi, I'm Emilia</h1>
    </div>
  </div>
</div> %>


<%= partial 'partials/contact' %>
<%= partial 'partials/footer' %>
